body {
	align-items: center;
	background-color: black;
	text-align: center;
	color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	height: 22px;
	margin: 5px;
	font-size: 15px;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgb(112, 109, 109);
	background-color: rgb(196, 193, 193);
	border-collapse: collapse;
}



.board td {
	width: 30px;
	height: 30px;
	border: 2px solid rgb(78, 76, 76);
	cursor: pointer;
	color: blue;
	font-weight: bold;

}

.hide {
	display: none;
}

.score {
	width: 400px;
	height: 30px;
	background-color: rgb(93, 219, 219);
	padding: 5px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;

}

.score button {

	width: 37px;
	height: 37px;
	font-size: 25px;
	padding: 0px;
	background-color: gray;

}

.flags {
	background-color: rgb(8, 8, 8);
	margin-right: 70px;
	color: brown;
	height: 25px;
	width: 40px;
	font-size: 20px;

}

.time {
	background-color: rgb(12, 12, 11);
	margin-left: 70px;
	color: brown;
	height: 25px;
	width: 40px;
	font-size: 20px;

}

.levels {
	margin: auto 0px 10px;
	
}


.extra {
	width: 400px;
	height: 30px;
	/* background-color: aliceblue; */
	padding: 5px;
	margin: 7px auto;
	display: flex;
	align-items: center;

	justify-content: center;

}

.lives {
	background-color: rgb(12, 12, 11);

	color: rgb(209, 215, 96);
	height: 20px;
	width: 130px;
	font-size: large;
	border: dashed;
	
}

.hints {
	margin-left: 150px;
	height: 25px;
	width: 70px;
	background-color: rgb(12, 12, 11);
	display: flex;
	align-items: center;
	justify-content: center;
}

.hint1 {
	/* margin-left: 170px; */
	height: 25px;
	width: 20px;
	cursor: pointer;
	font-size: 20px;
	display: block;
}

.hint2 {
	/* margin-left: 5px; */
	height: 25px;
	width: 20px;
	cursor: pointer;
	font-size: 20px;
	display: block;
}

.hint3 {
	/* margin-left: 5px; */
	height: 25px;
	width: 20px;
	cursor: pointer;
	font-size: 20px;
	display: block;
}

